{{/*
This file defines common 'Helm Docs' templates for all charts
 */}}

{{- define "sdh.sdh" -}}
Smile Digital Health
{{- end -}}

{{- define "chart.cdrVersionBadge" -}}
![Smile CDR Version: {{ template "chart.appVersion" . }}](https://img.shields.io/badge/Smile%20CDR%20Version-{{ template "chart.appVersion" . }}-informational?style=flat-square)
{{- end -}}
